<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-9">
      <span>{{ text }}</span>            
    </div>
    <div class="col-sm-12 col-md-3">
      <div id="socialLinks">
        <h3>Szybki kontakt</h3>
        <a class="icons" href="http://www.facebook.pl" target="_blank"><i class="fa fa-facebook-square"></i></a>
        <a class="icons" href="http://www.instagram.com" target="_blank"><i class="fa fa-instagram"></i></a>
        <a class="icons" href="http://www.gmail.com" target="_blank"><i class="fa fa-envelope"></i></a>
      </div>
    </div>
  </div>

  <div class="scroll">
    <button class="btn btn-success">
      <i class="fa fa-arrow-circle-up" aria-hidden="true"></i>Do góry
    </button>
  </div>

</div>

<footer>Copyrights © Mateusz Niziołek | 2019 </footer>

