<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-9">
                <span>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Morbi purus velit, posuere vitae magna sit amet, dictum semper sem. Aenean eu nibh nulla.
                    In ullamcorper augue lobortis erat pretium vulputate. Nullam commodo ex malesuada facilisis imperdiet.
                    Proin ac ornare mi. Proin sed nulla ac metus laoreet maximus.
                    Phasellus tellus mi, commodo non rhoncus id, dignissim sit amet orci.
                    Integer sodales sapien eget consectetur placerat. Integer non dictum ante, eu sodales magna.
                    Morbi cursus, ex ut fermentum consequat, velit urna ullamcorper diam, non vehicula arcu nibh id ligula.
                    Nullam feugiat interdum nibh ut pharetra. Praesent euismod ipsum semper nibh sodales tristique.
                    Vestibulum commodo arcu massa, et condimentum tortor tempus tempus.
                    Vivamus bibendum ex a elit placerat gravida. Aenean euismod massa nisl, at ultrices enim semper a.
                    Nam porta, ipsum ac viverra fringilla, odio tortor efficitur sem, ac varius metus diam eu metus.
                    Aenean ullamcorper id libero suscipit vestibulum. Suspendisse pretium sem massa, a mattis lacus elementum eu.
                </span>
    </div>
    <div class="col-sm-12 col-md-3">
      <div id="socialLinks">
        <h3>Szybki kontakt</h3>
        <a class="icons" href="http://www.facebook.pl" target="_blank"><i class="fa fa-facebook-square"></i></a>
        <a class="icons" href="http://www.instagram.com" target="_blank"><i class="fa fa-instagram"></i></a>
        <a class="icons" href="http://www.gmail.com" target="_blank"><i class="fa fa-envelope"></i></a>
      </div>
    </div>
  </div>

  <div class="scroll">
    <button class="btn btn-success">
      <i class="fa fa-arrow-circle-up" aria-hidden="true"></i>Do góry
    </button>
  </div>

</div>

<footer>Copyrights © Mateusz Niziołek | 2019 </footer>

